doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
    body
        h1 Web Tools
        hr
        .index__webTools-wrap
            ul
                li
                    a(href='web-component/jq-marquee.html',title='JQuery Marquee 跑馬燈')
                        | JQuery Marquee 跑馬燈