doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
    body
        h1 Web Tools
        .index__webTools-wrap
            ul
                li
                    a(href='marquee',title='')
                        | Marquee